@import "main.css";

.section-wrapper-top {
    background-image: url("../images/home-page/background_home-page.jpg");
    background-size: cover;
    background-position: center;
}

.header__logo {
    color: rgb(255, 255, 255);
}

.header__logo:hover {
    color: rgb(203, 203, 203);
}

.navigation__link_header {
    color: rgb(255, 255, 255);
}

.navigation__link_header:hover {
    color: rgb(203, 203, 203);
}

.banner {
    padding-top: 110px;
    padding-bottom: 157px;
    text-align: center;
}

.banner__title {
    margin-bottom: 20px;
    font: 50px/51px Lora, sans-serif;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

.banner__subtitle {
    margin-bottom: 31px;
    font: 17px/20px Oxygen, sans-serif;
    color: rgba(255, 255, 255, 0.63);
}

.banner__link {
    display: inline-block;
    border-radius: 3px;
    padding: 12px 31px;
    background-color: rgb(221, 120, 63);
    font: 13px/20px Oxygen, sans-serif;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.banner__link:hover {
    background-color: rgb(243, 137, 76);
}

.main {
    padding-bottom: 108px;
    background-color: rgb(247, 247, 247);
}

.navigation_categories {
    padding-top: 9px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.navigation__menu_categories {
    justify-content: space-around;
}

.navigation__link_categories {
    text-transform: capitalize;
    font: 14px/20px Lora, sans-serif;
    color: rgb(118, 128, 136);
    transition: all 0.3s;
}

.navigation__link_categories:hover {
    color: rgb(166, 176, 180);
}

.navigation__link {
    display: inline-block;
    padding: 13px 24px;
}

.section-wrapper-main {
    padding-bottom: 108px;
    background-color: rgb(247, 247, 247);
}

.posts-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    gap: 25px 20px;
}

.posts-block__title-wrapper {
    flex-basis: 100%;
    text-align: center;
}

.posts-block__title {
    max-width: 188px;
    position: relative;
    margin: 0 auto 17px;
    font: 20px/27px Oxygen, sans-serif;
    letter-spacing: 2px;
    color: rgb(46, 46, 46);
}

.posts-block__title::before {
    content: '';
    position: absolute;
    bottom: -17px;
    left: -3px;
    width: 100%;
    height: 1px;
    background-color: rgb(222, 222, 222);
}

.posts-block__line {
    margin: 0 auto;
    border: none;
    height: 1px;
    max-width: 181px;
    background-color: rgb(222, 222, 222);
    color: rgb(222, 222, 222);
}

.post {
    cursor: pointer;
}

.post:hover {
    transition: all 0.9s;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.post_large {
    position: relative;
    flex: 48.5%;
    border-radius: 3px;
}

.post_small {
    display: flex;
    flex: 31.5%;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.post__image {
    vertical-align: bottom;
}

.post__content {
    width: 100%;
}

.post__content_over {
    position: absolute;
    height: auto;
    padding: 15px 20px;
    bottom: 0;
}

.post__content_under {
    display: flex;
    flex-direction: column;
    padding: 14px 13px 10px;
    height: 100%;
}

.post__title {
    margin: 14px 0 6px;
    font: 16px/21px Lora, sans-serif;
    color: rgb(16, 19, 21);
}

.post__title_large {
    font: 27px/30px Lora, sans-serif;
    color: rgb(255, 255, 255);
}

.post__subtitle {
    margin-bottom: 12px;
    font: 13px/19px Oxygen, sans-serif;
    color: rgb(122, 122, 122);
}

.post__subtitle_large {
    font: 14px/25px Oxygen, sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.post__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.post__author {
    display: flex;
    align-items: center;
}

.post__image-wrapper {
    margin-right: 10px;
}

.post__author-image {
    vertical-align: middle;
    color: rgb(153, 153, 153);
}

.post__author-name {
    font: 11px/35px Oxygen, sans-serif;
    color: rgb(153, 153, 153);
}

.post__author-name_large {
    font: 11px/35px Oxygen, sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.post__date {
    display: inline-block;
    font: 12px/35px Oxygen, sans-serif;
    color: rgb(153, 153, 153);
}

.post__date_large {
    font: 12px/35px Oxygen, sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.post__link {
    display: inline-block;
    width: 100%;
}

.post__icon {
    display: inline-block;
    position: absolute;
    border-radius: 3px;
    padding: 7px 9px;
    left: 15px;
    top: 20px;
    font: 12px/13px Oxygen, sans-serif;
    background-color: rgb(221, 120, 63);
    color: rgb(255, 255, 255);
}

.post__content_under {
    border-bottom: 1px solid rgb(239, 239, 239);
}

.post__description_under {
    padding: 12px 13px 10px;
}